.btn {
    border-radius: 0;
}
.btn-success {
    background-color: #0c631b;
}
.intro {
    margin: 7rem 0;
}
.header {
    background-image: url(img/bg-header.jpg);
    background-size: cover;
    overflow: hidden;
  }
  .header a {
    color: #fff;
  }
  .header .dropdown-item {
    color: #333;
  }
  .overlay{
    background: rgba(49, 29, 94, 1);
    opacity: 0.8;
    color: #fff;
    overflow: hidden;
  }
  .btn, .btn:hover {
    text-transform: uppercase;
    transition: 0.3s;
    color: #00e0d0;
    border-color: #00e0d0;
  }
  .btn:hover {
    background-color: #00e0d0;
    color: #000;
  }

  .collapse ul li :hover {
      transition: 0.5s;
      color: #00e0d0;
      font-size: 12px;
  }
.collapse ul li {
    font-size: 13px;
    font-style: bold;
    font-family: 'Roboto';
}
body {
    font-family: 'Roboto';
    font-size: 14px;
}
.intro h1 {
    font-family: 'Myriad Pro';
    font-size: 32px; 
    
}

/* slider */
#slider-home .carousel-indicators {
    position: relative;
    top: 3rem;
  }
  .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }